@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0%;
	margin: 0%;
	background-color: rgb(221, 221, 233);
}


head {
	width: 70px;
	height: 70px;
	border-radius: 100%;
}



nav {
	display: flex;
	flex-wrap: wrap;
	border-radius:0px;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(99, 99, 99);
	position: sticky;
	top: 0%;

}

			



nav .profile {
	display: flex;
	align-items: center;
}
nav .profile img {
	margin-top: -1.5;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
nav .profile h1 {
	margin-left: 10px;
	font-size: 25px;
	color: rgb(255, 255, 255);
}



/*
nav .Metier{
	width: 200px;
	height: 200px;
	position: absolute;
	left: 90px;
	top: 35px;
	color: #414141;
}

*/

nav .Metier img {
	width: 16px;
	height: 16px;
	position: relative;
	top: -34px;
	left: 142px;


}

.page-content header .Bonjour {
	margin-top: -6%;
	width: 100%;
	height: 60%;
	background-image:url(images/bg_03.jpg);
	background-repeat:no-repeat;
	background-position:center right;
}

.page-content header .Bonjour1 {
	font-family: 'Oswald', sans-serif;
	font-size: 5vw;
	color: #ffffff;
	
}

#Je {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	color: #ffffff;
}






html {
	scroll-behavior: smooth;
}

nav ul {
	display: flex;
	list-style-type: none;
	
}

nav ul li {
	margin: left;
	margin-left: 20px;
	margin-right: 0%;
	cursor: pointer;
	border-bottom-color:1px solid #fff;
	padding: 1rem;
		
}
nav ul li:hover {
	border-bottom-color: #000;
	
}

.page-content {
	margin: 4%;
	
	
}
.page-content header {
	margin-top: 0%;
	

}


.page-content header .presentation h1 {
	font-family: 'Oswald', sans-serif;
	margin-top: 0%;
	color: #000000;
	font-size: 3vw;
	text-align: center;
}


.page-content header .presentation {

	font-family: 'Oswald', sans-serif;
	font-size: 1.2vw;
	margin-top: 2%;
	margin-right: 5%;
	color: #636363;

}


.page-content header .Surmoi {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.page-content header .Encoresurmoi {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.page-content header .Passetemps {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}


.page-content header .p {
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	background-color:  rgb(255, 255, 255);
	width: 400px;
	border-radius:20px;
	
}


.page-content header .curieux{
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:  rgb(255, 255, 255);
	width: 400px;
			
}

.page-content header .devouer {
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:  rgb(255, 255, 255);
	width: 400px;

}

.page-content header .communiquer {
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	background-color: rgb(255, 255, 255);
	width: 400px;
	border-radius:20px;

}


.page-content header .auto-formation {
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:  rgb(255, 255, 255);
	width: 400px;

}

.page-content header .creatif {

	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:  rgb(255, 255, 255);
	width: 400px;

	
}




.page-content header .passe-temps {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2vw;
	margin-top: 2%;
	margin-right: 0;
	color: #636363;
}




.page-content header .musique {

	padding: 2.1rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	background-color: rgb(255, 255, 255);
	width: 400px;
	border-radius:20px;
	align-items: flex-start;
	justify-content: space-between;
	
}


.page-content header .sport {
	padding: 2.1rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:   rgb(255, 255, 255);
	width: 400px;
	align-items: flex-start;
	justify-content: space-between;

}

.page-content header .voyage {
	padding: 2.1rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	max-width: 50%;
	background-color: rgb(255, 255, 255);
	width: 400px;
	align-items: flex-start;
	justify-content: space-between;
}

.page-content header .competence h1 {
	font-family: 'Oswald', sans-serif;
	margin-top: 5%;
	color: #000000;
	font-size: 3vw;
	text-align: center;

}

.page-content header .compét {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page-content header .Gestion-DevOps {
	margin-top: 0%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



.page-content header .BDD {
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:  rgb(255, 255, 255);
	width: 400px;
	align-items: flex-start;
	justify-content: space-between;
}

.page-content header .Langagedeprog {
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;	
	background-color:  rgb(255, 255, 255);
	width: 400px;
	align-items: flex-start;
	justify-content: space-between;
}


.page-content header .Langues {
	margin-top: 5%;
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:  rgb(255, 255, 255);
	width: 400px;
	align-items: flex-start;
	justify-content: space-between;

}

.page-content header .DevOps {
	margin-top: 5%;
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:  rgb(255, 255, 255);
	width: 400px;
	align-items: flex-start;
	justify-content: space-between;	

}

.page-content header .Systeme {
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:  rgb(255, 255, 255);
	width: 400px;
	justify-content: space-between;

}

.page-content header .Gestion-projet{
	margin-top: 5%;
	padding: 2rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	background-color:  rgb(255, 255, 255);
	width: 400px;
	align-items: flex-start;
	justify-content: space-between;
	

}

#modules {
	color: gray;
}

#Langage {
	color: gray;
}

#Langue {
	color: gray;
}
#systeme {
	color: gray;
}

a.ancre{
	display: block;
    position: relative;
    top: -105px;
    visibility: hidden;
}

a.anchor {
    display: block;
    position: relative;
    top: -105px;
    visibility: hidden;
}

a.ancres{
	display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}


.page-content .formation h1 {
	font-family: 'Oswald', sans-serif;
	margin-top: 5%;
	color: #000000;
	font-size: 3vw;
	text-align: center;
	
}

.page-content .formation .bac {
	margin-top: 0%;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	background:rgb(255, 255, 255);
	padding: 4rem;
	border-radius: 20px;
	max-width: 40%;
	width: 550px;
	flex-wrap: wrap;
	justify-content: space-between;
	float: left;
}

.page-content .formation .diplome {
	background: rgb(211, 216, 221);
	padding: 4rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	max-width: 40%;
	background-color: rgb(255, 255, 255);
	width: 550px;
	flex-wrap: wrap;
	justify-content: space-between;
	float: right;
	
}

#bacalaureat{
	color: gray;
}
#chefdeprojet {
	color: gray;
}

.page-content .experience h1 {
	font-family: 'Oswald', sans-serif;
	margin-top: 20%;
	color: #000000;
	font-size: 3vw;
	text-align: center;
}


.page-content .experience .alternance {
	background:rgb(255, 255, 255);
	padding: 4rem;
	margin-top: 0%;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	max-width: 60%;
	border-radius: 20px;
	width: 550px;
	float: left;

}

.page-content .experience .stage {
	background: rgb(211, 216, 221);
	padding: 4rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	max-width: 60%;
	background-color: rgb(255, 255, 255);
	width: 550px;
	float: right;
	
}

#Apprenti {
	color: gray;
}

#cdi {
	color: gray;
}


.page-content .projects-section h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 3vw;
	margin-top: -5%;
	border-radius: 40px;
	text-align: center;
	
}


.page-content .projects-section {
	margin-top: 8%;	
	display: inline-block;
	vertical-align: top;
		
}


.page-content .projects-section .projects {
	margin-top: 0%;
	display: flex;
	flex-wrap: wrap;
	border-radius:20px;
	align-items: flex-start;
	justify-content: space-between;
	
	
	
	
}
.page-content .projects-section .project1 {

	max-width: 320px;
	padding: 4rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	max-width: 40%;
	background-color: rgb(255, 255, 255);
	width: 550px;
	margin-top: 2%;



}

.page-content .projects-section .project2 {
	max-width: 320px;
	padding: 5rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	max-width: 40%;
	background-color: rgb(255, 255, 255);
	width: 550px;
	margin-top: 2%;
	border-radius:20px;
	align-items: flex-start;
	justify-content: space-between;



}

.page-content .projects-section .project3 {
	max-width: 320px;
	padding: 4rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	max-width: 40%;
	background-color: rgb(255, 255, 255);
	width: 550px;
	margin-top: 2%;
	border-radius:20px;
	align-items: flex-start;
	justify-content: space-between;



}

.page-content .projects-section .project4 {
	max-width: 320px;
	padding: 5rem;
	box-shadow: 15px 1px 10px 1px rgb(145, 145, 145);
	border-radius: 20px;
	max-width: 40%;
	background-color: rgb(255, 255, 255);
	width: 550px;
	margin-top: 2%;
	border-radius:20px;
	align-items: flex-start;
	justify-content: space-between;

}


.page-content .projects-section .project h4 {
	margin: 0;
	
}
.page-content .projects-section .project .description {
	font-size: 15px;
}
.page-content .projects-section .project1 .dates {
	font-size: 13px;
	color: rgb(145, 145, 145);
}

.page-content .projects-section .project2 .dates {
	font-size: 13px;
	color: rgb(145, 145, 145);
}

.page-content .projects-section .project3 .dates {
	font-size: 13px;
	color: rgb(145, 145, 145);
}

.page-content .projects-section .project4 .dates {
	font-size: 13px;
	color: rgb(145, 145, 145);
}




footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 5px;
	background-color:rgb(99, 99, 99);
	color: white;
}
footer .colonne p {
	font-size: 13px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}



@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
		position: relative;				
	}
	nav ul {
		display: none;			
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
		justify-content: center;
	}

	.page-content header .presentation h1 img {		
		max-width: 3%;
		margin-top: -1%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content header .Surmoi .curieux {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .Surmoi .devouer {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .Encoresurmoi .auto-formation {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .Encoresurmoi .creatif {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .passetemps {
		margin-top: 0%;
		justify-content: center;
	}
	.page-content header .passetemps .musique {
		margin-top: 0%;
		justify-content: center;
	}

	.page-content header .passetemps .sport {
		margin-top: 5%;
		justify-content: center;
	}

	.page-content header .passetemps .voyage {
		margin-top: 5%;
		max-width: 100%;
		font-size: 1em;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
		
	}

	.page-content header .competence h1 {
		margin-top: 5%;
		margin-right: 0%;
		font-size: 1em;	
	}

	.page-content header .competence h1 img {
		font-size: 10em;
		max-width: 5.5%;
		margin-top: -2%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}


	.page-content header .compét .Langagedeprog {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .compét .Systeme {
		margin-top: 5%;
		justify-content: center;
	}

	.page-content header .formation h1 {
		margin-top: -2%;
		margin-right: 50%;
		font-size: 1em;	
	}
	.page-content header h1 img{
		font-size: 10em;
		max-width: 10%;
		margin-top: -1%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}

	.page-content header .formation {
		margin-top: 45%;
		font-size: 1em;
		width: 400px;
		display: table-cell;
		vertical-align: middle;
		justify-content: center;
		display:inline-block;	
	}

	.page-content header .formation h1 {
		margin-top: -15%;
	}
	.page-content header .formation .bac {
		margin-top: 0%;
		font-size: 1em;
		margin-right: 41%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}

	.page-content header .formation .diplome {
		margin-top: 2%;
		font-size: 1em;
		margin-right: 28%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content header .experience h1 {
		margin-top: 0%;
		margin-right: 11%;
		font-size: 1em;
		justify-content: center;
	}
	.page-content header .experience h1 img{
		font-size: 10em;
		max-width: 6%;
		margin-top: 0%;
		margin-right: 40%;
		justify-content: center;
		display:none;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content header .experience {
		margin-top: 10%;
		margin-right: 0%;
		width: 350px;
		font-size: 1em;
		justify-content: center;
	}
	.page-content header .alternance {
		margin-top: 0%;
		font-size: 1em;
		margin-right: 41%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content header .stage {
		margin-top: 5%;
		font-size: 1em;
		margin-right: 4%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;

	}
	.page-content .projects-section {
		margin-top: 10%;
	}
	.page-content .projects-section h1 {
		font-size: 1.5em;
		margin-top: 0%;
		margin-right: 50%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content .projects-section h1 img{
		font-size: 10em;
		max-width: 10%;
		margin-top: 0%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content .projects-section img{
		font-size: 1.5em;
		margin-top: 0%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content .projects-section .projects {
		margin-top: -4%;
		margin-right: 0;
		width: 400px;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section .project .description {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
		display:inline-block;
		vertical-align: middle;
		width: 200%;
	}
	footer .column {
		width: 80%;
	
	}
}


@media screen and (min-width: 1510px) {
	nav {
		justify-content: center;
		position: relative;				
	}
	nav ul {
		display: none;			
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
		justify-content: center;
	}

	.page-content header .presentation h1 img {		
		max-width: 3%;
		margin-top: -1%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content header .Surmoi .curieux {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .Surmoi .devouer {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .Encoresurmoi .auto-formation {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .Encoresurmoi .creatif {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .passetemps {
		margin-top: 0%;
		justify-content: center;
	}
	.page-content header .passetemps .musique {
		margin-top: 0%;
		justify-content: center;
	}

	.page-content header .passetemps .sport {
		margin-top: 5%;
		justify-content: center;
	}

	.page-content header .passetemps .voyage {
		margin-top: 5%;
		max-width: 100%;
		font-size: 1em;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
		
	}

	.page-content header .competence h1 {
		margin-top: 5%;
		margin-right: 0%;
		font-size: 1em;	
	}

	.page-content header .competence h1 img {
		font-size: 10em;
		max-width: 5.5%;
		margin-top: -2%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}


	.page-content header .compét .Langagedeprog {
		margin-top: 5%;
		justify-content: center;
	}
	.page-content header .compét .Systeme {
		margin-top: 5%;
		justify-content: center;
	}

	.page-content header .formation h1 {
		margin-top: -2%;
		margin-right: 50%;
		font-size: 1em;	
	}
	.page-content header h1 img{
		font-size: 10em;
		max-width: 10%;
		margin-top: -1%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}

	.page-content header .formation {
		margin-top: 45%;
		font-size: 1em;
		width: 400px;
		display: table-cell;
		vertical-align: middle;
		justify-content: center;
		display:inline-block;	
	}

	.page-content header .formation h1 {
		margin-top: -15%;
	}
	.page-content header .formation .bac {
		margin-top: 0%;
		font-size: 1em;
		margin-right: 41%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}

	.page-content header .formation .diplome {
		margin-top: 2%;
		font-size: 1em;
		margin-right: 28%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content header .experience h1 {
		margin-top: 0%;
		margin-right: 11%;
		font-size: 1em;
		justify-content: center;
	}
	.page-content header .experience h1 img{
		font-size: 10em;
		max-width: 6%;
		margin-top: 0%;
		margin-right: 40%;
		justify-content: center;
		display:none;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content header .experience {
		margin-top: 10%;
		margin-right: 0%;
		width: 350px;
		font-size: 1em;
		justify-content: center;
	}
	.page-content header .alternance {
		margin-top: 0%;
		font-size: 1em;
		margin-right: 41%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content header .stage {
		margin-top: 5%;
		font-size: 1em;
		margin-right: 4%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;

	}
	.page-content .projects-section {
		margin-top: 10%;
	}
	.page-content .projects-section h1 {
		font-size: 1.5em;
		margin-top: 0%;
		margin-right: 50%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content .projects-section h1 img{
		font-size: 10em;
		max-width: 10%;
		margin-top: 0%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content .projects-section img{
		font-size: 1.5em;
		margin-top: 0%;
		margin-right: 40%;
		justify-content: center;
		display:inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.page-content .projects-section .projects {
		margin-top: -4%;
		margin-right: 0;
		width: 400px;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section .project .description {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
		display:inline-block;
		vertical-align: middle;
		width: 200%;
	}
	footer .column {
		width: 80%;
	
	}
}


